body{
  margin: 0;
  background-color: hsla(0, 0%, 40%, 1);
}
header{
  background-color: hsla(0, 0%, 30%, 1);
  color: hsla(240, 100%, 85%, 1);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 2.5rem;
  margin: 1.5rem 0;
  text-align: center;
}
h2{
  font-size: 1.8rem;
  margin: 3rem 0 0;
  text-align: center;
}
.button{
  font-size: 1.4rem;
  background-color: hsla(43, 100%, 50%, 1);
  width: 7rem;
  height: 3rem;
  border-radius: 1.2rem;
  cursor: pointer;
  user-select: none;
  border: 0.125rem dotted hsla(43, 100%, 30%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 0 auto;
  height: 5rem;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}